/*页面边距*/
.product-body {
    margin: 20px;
}
/*导航栏*/
.product-navigate {
    display: inline-block;
    color: blue;
    margin-bottom: 20px;
}
/*添加产品框*/
/*.add-product {*/
    /*display: inline-block;*/
    /*margin-right: 2px;*/
    /*width: 115px;*/
    /*!*height: 220px;*!*/
/*}*/
/*.add-product-text {*/
    /*display: inline-block;*/
    /*margin-right: 4px;*/
    /*width: 230px;*/
    /*!*height: 220px;*!*/
/*}*/

/*产品列表表格默认样式*/

.table-head td{
    width: 150px;
    background-color: pink;
}

.table-body td{
    width: 150px;
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
}
/*产品列表底部的功能*/
/*.product-table-bottom td {*/
    /*background-color: rgb(238, 238, 238);*/
    /*color: rgb(111, 111, 111);*/
/*}*/

/*.product-table-bottom input {*/
    /*height: 23px;*/
/*}*/
/*.product-table-bottom select {*/
    /*height: 22px;*/
/*}*/

/*添加和修改单元格是否显示*/

.hide-update-table {
    display: none;
}

/*产品类别表默认样式*/

.type-list-body td{
    width: 1050px;
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
}

.type-list {
    display: inline-block;
    background-color: pink;
    border: 1px solid orange;
    margin: 1px;
    padding: 2px;
    border-radius: 5px;
}
.type-list>span {
    font-size: 18px;
    background-color: hotpink;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 1px;
}
/*a标签样式*/
a:link{text-decoration:none ; color: deeppink;}
a:visited {text-decoration:none ; color: deeppink;}
a:hover {text-decoration:underline ; color: deeppink;}
a:active {text-decoration:none ; color: deeppink;}